body {
    background-color: #efefef;
}

.main {
    margin: 30px 50px;
    background-color: white;
}

#form-submit {
    float: right;
    margin-bottom: 40px;
}

.media-object {
    width: 45px;
}

.profile-menu {
    margin-top: 15px;
}

.community-link {
    font-size: 13px;
    color: #999;
}

.error-style {
    margin: 50px;
}