<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>
    <!--头部-->
    <div th:fragment="navbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid w-content" style="line-height: 50px">
                <div class="navbar-header" style="margin-top: 10px">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">码客社区</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" action="/" method="get">
                        <div class="form-group">
                            <input type="hidden" name="tag" th:value="${tag}">
                            <input name="search" type="text" class="form-control" placeholder="搜索">
                        </div>
                        <button type="submit" class="btn btn-default">提交</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.user == null}">
                            <span class="glyphicon glyphicon-user" style="cursor: pointer" onclick="showLoginWay(this)">登录</span>
                        </li>
                        <!--发布入口-->
                        <li th:if="${session.user != null}">
                            <a th:href="@{/publish}">发布</a>
                        </li>
                        <!--通知入口-->
                        <li th:if="${session.user != null}">
                            <a th:href="@{/profile/reply}">
                                <span class="glyphicon glyphicon-bell"></span>
                                <span class="badge" th:text="${session.notificationCount}"></span>
                            </a>
                        </li>
                        <li th:if="${session.user != null}" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false" ><span th:text="${session.user.getLoginName()}"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/profile/question}">个人中心</a></li>
                                <li><a th:href="@{/logout}">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--footer-->
    <div th:fragment="footer">
        <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Copyright © 2020· CC BY-NC-SA 3.0</p>
            <p class="col-lg-0 col-md-0 col-sm-12 col-xs-12">· 码客社区 · 友情链接 本站服务器及带宽由 阿里云 提供赞助 · 网站程序: Marker · 湘ICP备 000000 号</p>
        </div>
    </div>
</body>
</html>