<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--新增标签弹出框-->
<div th:fragment="tag-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">添加自定义标签</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tag-name" class="control-label">标签名:</label>
                        <input type="text" class="form-control" id="tag-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="addTag()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="login-modal">
    <div class="modal fade" id="loginExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginExampleModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <p>目前码客支持的第三方登录</p>
                    <ul>
                        <li style="text-align: center">
                            <a th:href="@{'https://github.com/login/oauth/authorize'(client_id=${#servletContext.getAttribute('client_id')},scope='user',state=1)}">
                                <img src="/images/login/github.png" style="width: 48px">
                            </a>
                        </li>
                        <li></li>
                    </ul>
                    <p>登录即表示同意<a href="#">用户协议</a>、<a href="#">隐私政策</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>