<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markloy.code_community.mapper.QuestionExtMapper">

  <resultMap id="BaseResultMap" type="com.markloy.code_community.pojo.Question">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.markloy.code_community.pojo.Question">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <update id="incViewCount" parameterType="com.markloy.code_community.pojo.Question">
    update question
    set view_count = view_count + #{viewCount,jdbcType=INTEGER}
    where ID = #{id}
  </update>
  <update id="incCommentCount" parameterType="com.markloy.code_community.pojo.Question">
    update question
    set comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
    where ID = #{id}
  </update>
  <select id="selectRelated" parameterType="com.markloy.code_community.pojo.Question" resultMap="BaseResultMap">
    select id, title from question
    where id != #{id} and tag regexp #{tag}
  </select>

  <select id="selectSearch" parameterType="com.markloy.code_community.dto.QuestionSearchDTO" resultMap="BaseResultMap">
    select * from question
    <where>
      <if test="search != null">
        and title regexp #{search}
      </if>
      <if test="tag != null">
        and tag regexp #{tag}
      </if>
    </where>
    order by gmt_create desc
    limit #{count}, #{size}
  </select>
  <select id="selectSearchCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from question
    <where>
      <if test="search != null">
        and title regexp #{search}
      </if>
      <if test="tag != null">
        and tag regexp #{tag}
      </if>
    </where>
  </select>
</mapper>